body {
  background: #f9f7fe;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 42px;
}

h1 a {
  color: black;
  text-decoration: none;
  transition: all 50ms ease-in-out;
}

h1 a:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}

select {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  margin: 0;
  font-size: 28px;
}

footer {
  text-align: center;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.7);
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed lightgrey;
}

.city:last-child {
  border: none;
}

.date {
  font-size: 16px;
  opacity: 0.6;
  margin-top: 5px;
}

.time {
  font-size: 38px;
  font-weight: bold;
}

.time small {
  font-size: 22px;
  line-height: 38px;
  vertical-align: middle;
}
